*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

ul{list-style:none;}
a{text-decoration:none; color:#333;}

.wrap{
  width:1200px;
  margin:0 auto;
}

/* header */
.header{
  height:80px;
}

.logo{
  float:left;
  line-height:80px;
}

.nav{
  float:right;
}

.menu > li{
  float:left;
  width:150px;
  position:relative;
  text-align:center;
}

.menu > li > a{
  display:block;
  line-height:80px;
  background:#eee;
}

.menu > li:hover > a{
  background:#333;
  color:#fff;
}

/* sub menu */
.sub{
  display:none;
  position:absolute;
  top:80px;
  left:0;
  width:100%;
}

.menu > li:hover .sub{
  display:block;
}

.sub li a{
  display:block;
  padding:10px 0;
  background:#f5f5f5;
}

/* slider */
.station{
  width:1200px;
  height:400px;
  overflow:hidden;
  border:2px solid red;
}

.train{
  width:3600px;
  height:400px;
  display:flex;
  transition:all 1s;
}

.train li{
  width:1200px;
  height:400px;
}

.train img{
  width:100%;
  height:100%;
  object-fit:cover;
}

/* content */
.content{
  margin-top:30px;
}

.section{
  height:200px;
  border:1px solid #ccc;
  margin-bottom:20px;
}
